.wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  button{
    margin-top: .5rem;
    padding: .5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1C1E22;
    color: #FFE300;
    border: 0;
    border-radius: 1.5rem;
    outline: none;
    cursor: pointer;
  }

  button:active{
    background-color: #222;
  }